@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-color: #266e99;
  --white: #ffffff;
  --text-blue: #266e99;
  --gray-color: #4F4F4F;
}

* {
  font-family: Open Sans;
  box-sizing: border-box;
}

.navbar-top {
  background-color: var(--bg-color);
}

.location {
  width: 12px;
  height: 17px;
}

.navbar-top p {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.navbar-top .location {
  width: 12px;
  height: 17px;
}

.navbar-top .mail {
  width: 16px;
  height: 12px;
}

.right-section {
  gap: 16px;
}

.right-section .btn {
  border: 1.5px solid var(--white);
  font-weight: 600;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20.43px;
  padding: 12px 20px 13px 15px;
}

.right-section .btn:nth-child(1),
.right-section .btn:nth-child(2) {
  color: var(--white);
  font-size: 15px !important;
}

.right-section .btn:last-child {
  color: var(--text-blue);
  background-color: var(--white);
}

.right-section .dropdown .dropdown-menu {
  transform: translate3d(0px, 43px, 0px) !important;
  border: none !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
  border-radius: 0px 0px 5px 5px;
}

.right-section .dropdown .dropdown-menu li a{
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: var(--gray-color);
}

.right-section .dropdown-menu {
  width: 100%;
  min-width: inherit;
}

.navbar-middle .logo img {
  transition: transform 0.3s ease-in-out;
}

.navbar-middle .logo img:hover {
  transform: scale(0.9); /* Redimensionează elementul la 90% din dimensiunea originală */
}

.location-section p:hover{
  color: red !important;
  cursor: default;
}

.location-section p{
  transition: 0.5s ease-in-out;
}


@media (max-width: 1200px) {
  .left-section {
    flex-direction: column; /* sau row, depinde ce vrei să aplici */
    gap: 10px;
  }

  .location-section, .mail-section{
    padding: 0 !important;
  }
}
