@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-color: #266e99;
  --white: #ffffff;
  --text-blue: #266e99;
  --dark-gray: #4f4f4f;
  --gray-color: #4f4f4f;
  --border-bottom: 2px solid #266e991a;
  --light-gray: #e8eef2;
  --green: #17c38c;
  --light-gray: rgba(38, 110, 153, 0.05);
}

* {
  font-family: Open Sans;
  box-sizing: border-box;
}

.navbar-top {
  background-color: var(--bg-color);
}

.location {
  width: 12px;
  height: 17px;
}

.navbar-top p {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.navbar-top .location {
  width: 12px;
  height: 17px;
}

.navbar-top .mail {
  width: 16px;
  height: 12px;
}

.right-section {
  gap: 16px;
}

.right-section .btn {
  border: 1.5px solid var(--white);
  font-weight: 600;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20.43px;
  padding: 12px 20px 13px 15px;
}

.right-section .btn:nth-child(1),
.right-section .btn:nth-child(2) {
  color: var(--white);
  font-size: 15px !important;
  transition: 0.5s ease-in-out;
}

.right-section .btn:nth-child(1):hover,
.right-section .btn:nth-child(2):hover {
  background-color: var(--white);
  color: var(--bg-color);
}

.right-section .btn:last-child {
  transition: 0.5s ease-in-out;
  color: var(--text-blue);
  background-color: var(--white);
}

.right-section .btn:last-child:hover {
  color: var(--white);
  background-color: var(--bg-color);
}

.right-section .dropdown .dropdown-menu {
  transform: translate3d(0px, 43px, 0px) !important;
  border: none !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
  border-radius: 0px 0px 5px 5px;
}

.right-section .dropdown .dropdown-menu li a {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: var(--gray-color);
}

.right-section .dropdown-menu {
  width: 100%;
  min-width: inherit;
}

.navbar-middle .logo img {
  transition: transform 0.3s ease-in-out;
}

.navbar-middle .logo img:hover {
  transform: scale(0.8);
}

.location-section img:hover,
.location-section p:hover,
.mail-section img:hover,
.mail-section p:hover {
  opacity: 0.5;
  cursor: default;
}

.location-section img,
.location-section p,
.mail-section img,
.mail-section p {
  transition: 0.5s ease-in-out;
}

button.dropdown-toggle[aria-expanded="true"] {
  background-color: var(--white) !important;
  color: var(--bg-color) !important;
}

.navbar-middle ul li a {
  font-weight: 600;
  color: var(--gray-color);
}

.navbar-middle ul li:not(:first-child) {
  border-left: 2px solid var(--bg-color);
}

.navbar-middle .active {
  color: var(--bg-color) !important;
}

.nav-link {
  padding: 0px 15px !important;
}

.right-section ul li .dropdown-item:hover,
.nav-item .nav-link:hover {
  color: var(--bg-color);
  background: none;
}

.create-account {
  border: 2px solid var(--bg-color) !important;
  background-color: var(--white);
  color: var(--bg-color);
  font-weight: 800;
  font-family: Open Sans;
  font-size: 15px;
  padding: 12px 20px 13px 15px;
  transition: 0.5s ease-in;
}

.autentification {
  border: 2px solid var(--bg-color) !important;
  background-color: var(--bg-color);
  color: var(--white);
  font-weight: 800;
  font-family: Open Sans;
  font-size: 15px;
  padding: 12px 20px 13px 15px;
  transition: 0.5s ease-in;
}

.create-account:hover,
.autentification:hover {
  background-color: var(--gray-color);
  color: var(--white);
  border: 2px solid var(--gray-color) !important;
}

.hero-section {
  position: relative;
  border-radius: 1rem !important;
  background: linear-gradient(274.79deg, #266e99 5.12%, #0f4464 94.99%);
}

.title-hero {
  font-weight: 700;
  font-size: 70px;
}

.hero-section .subtitle {
  font-size: 30px;
}

.hero-section .left-section {
  padding: 70px 0px 70px 70px !important;
}

.right-section img {
  position: absolute !important;
  bottom: 0px;
  right: 0px;
  width: 65%;
}

.left-section .buttons a {
  font-weight: 600;
  padding: 17px;
  transition: 0.5s linear;
}

.left-section .buttons a:nth-child(1) {
  color: var(--bg-color);
  background-color: var(--white);
}

.left-section .buttons a:nth-child(2) {
  color: var(--white);
  background-color: var(--bg-color);
}

.left-section .buttons a:nth-child(1):hover {
  background: none !important;
  color: var(--white);
  border: 1px solid var(--white);
}

.left-section .buttons a:nth-child(2):hover {
  background-color: var(--white) !important;
  color: var(--bg-color);
}

.steper .step .title {
  color: var(--bg-color);
  font-weight: 600;
  font-size: 25px !important;
  text-align: center !important;
}

.steper .step .date {
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
}

.steper .step .circle {
  height: 105px;
}

.domains-projects {
  background-color: var(--light-gray);
  border-radius: 40px;
}

.domains-projects h2 {
  color: var(--bg-color);
  font-weight: 700;
  font-size: 40px;
}

.domains-projects p {
  color: var(--dark-gray);
  font-size: 15px;
  font-weight: 400;
  width: 75%;
}

.domains-projects .card {
  background-color: var(--bg-color);
}

.domains-projects .card .domain-image {
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  padding: 25px;
  width: 130px;
  height: 130px;
  margin-top: -300px;
  transition: 0,5 linear;
}

.domains-projects .card:hover .domain-image {
  margin-top: -320px;
}

.domains-projects .card p {
  color: var(--white);
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.domains-projects .card a {
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 15px;
  transition: 0.5s ease-in-out;
}

.domains-projects .card:hover a {
  color: var(--bg-color);
  background-color: var(--white);
}

.domains-projects .card .bg-domain-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  color: var(--gray-color);
  display: none;
  transition: 1s;
}

.domains-projects .card:hover .bg-domain-image {
  display: block;
  transition: 1s;
}

@media (max-width: 1200px) {
  .left-section {
    flex-direction: column;
    gap: 10px;
  }

  button.dropdown-toggle[aria-expanded="true"] {
    background-color: var(--bg-color) !important;
    color: var(--white) !important;
  }

  .location-section,
  .mail-section {
    padding: 0 !important;
  }

  .navbar-middle {
    padding: 0px !important;
  }

  .navbar-middle .container-fluid {
    padding: 10px 0px 10px 0px !important;
  }

  .navbar-middle .nav-link,
  .navbar-middle ul button {
    padding: 12px 14px !important;
  }

  .navbar-middle ul ul {
    margin-left: 20px !important;
  }

  .navbar-middle ul ul li a:hover {
    color: var(--bg-color);
    background: none;
  }

  .navbar-middle ul ul li {
    border: none !important;
  }

  .logo {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .logo img {
    width: 100px;
    height: 32.98px;
  }

  .navbar-middle ul li .nav-link:hover,
  .navbar-middle ul button:hover {
    background-color: var(--bg-color) !important;
    color: var(--white) !important;
  }

  .navbar-middle ul li a {
    transition: 0.2s ease-in-out;
  }

  .bg-tablet-mobile {
    background-color: var(--light-gray) !important;
    height: 100px !important;
  }

  .hero-section {
    border-radius: 0px !important;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .hero-section .left-section {
    gap: 1px !important;
    z-index: 1;
  }

  .steper {
    flex-wrap: wrap !important;
  }

  .step {
    flex: 0 0 50%;
  }
}

@media (max-width: 990px) {
  .navbar-middle ul li,
  .navbar-middle ul button {
    border: none !important;
    border-bottom: var(--border-bottom) !important;
  }

  .navbar-middle ul button {
    width: 100%;
    text-align: left;
  }

  .navbar-middle ul li a,
  .navbar-middle .d-lg-none button {
    font-size: 15px;
    font-weight: 600;
    line-height: 20.43px;
  }

  .navbar-middle .d-lg-none button {
    border: none;
  }

  .navbar-middle {
    padding: 0px !important;
  }

  .navbar-middle .container-fluid {
    padding: 10px 0px 10px 0px !important;
  }

  .hero-section {
    border-radius: 0px !important;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .hero-section .left-section h1 {
    font-size: 40px !important;
  }

  .hero-section .left-section .subtitle {
    font-size: 18px !important;
  }

  .hero-section .left-section .content {
    font-size: 14px !important;
  }

  .hero-section .left-section .buttons {
    flex-direction: column-reverse !important;
  }

  .hero-section .left-section .buttons a {
    font-size: 15px !important;
    padding: 15px 17px !important;
  }

  .hero-section .left-section .buttons a:nth-child(1) {
    width: 70%;
  }

  .hero-section .left-section .buttons a:nth-child(2) {
    width: 90%;
    background: none;
    border: 1px solid var(--white);
  }

  .hero-section .left-section .buttons a:nth-child(2):hover {
    background: var(--white) !important;
  }

  .hero-section .left-section {
    padding: 50px 0px 180px 30px !important;
  }

  .hero-section .right-section img {
    width: 90%;
  }
}
